@model IEnumerable<Models.Side>

@{
    ViewData["Title"] = "Index";
}

<h1>Accompagnements</h1>

<p>
    <a asp-action="Create">Ajouter Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Masse (g)</th>
            <th>Masse de sel (g)</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaltWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)€
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |<br />
                    <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |<br />
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
