@model Models.Dessert

@{
    ViewData["Title"] = "Details";
}

<h1>Détails</h1>

<div>
    <h4>Dessert</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Millimeter</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Millimeter)
        </dd>
        <dt class = "col-sm-2">Glacé</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFrozen)
        </dd>
        <dt class = "col-sm-2">Nom</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">Prix</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">Description</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Modifier</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Supprimer</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
