@model List<Models.Menu>
@inject WebFastFood.Services.PriceDiffService PriceDiffService
@{
    ViewData["Title"] = "Index";
}

<h1>Menus</h1>

<p>
    <a asp-action="Create">Ajouter Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Composition</th>
            <th>Prix</th>
            <th>Economies</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                <ul>
                    <li>@item.Burger.Name</li>
                    <li>@item.Side.Name</li>
                    <li>@item.Beverage.Name</li>
                    @{
                        if (item.Dessert != null)
                        {
                            <li>@item.Dessert.Name</li>

                        }
                        else
                        {
                            <li>Pas de dessert</li>
                        }
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)€
            </td>
            <td>
                @await PriceDiffService.PriceDiff(item)€
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @{
                    var controllerName = this.Context.Request.RouteValues["controller"].ToString();
                }
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |<br />
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |<br />
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>
