@model List<Models.Menu>
@inject WebFastFood.Services.PriceDiffService PriceDiffService
@{
    ViewData["Title"] = "Index";
}

<h1>Manus</h1>

<p>
    <a asp-action="Create">Ajouter Nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Composition</th>
            <th>Prix</th>
            <th>Economies</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <ul>
                    <li>@item.Burger.Name</li>
                    <li>@item.Side.Name</li>
                    <li>@item.Beverage.Name</li>
                    @if (item.Dessert != null)
                    {
                        <li>@item.Dessert?.Name</li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                @await PriceDiffService.PriceDiff(item) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |<br />
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |<br />
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
        }
    </tbody>
</table>
