@model List<Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Menus</h1>
<h4>Liste</h4>
<p>
    <a asp-action="Create">Créer nouveau</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Contenu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <ul>
                    <li>@item.Burger.Name</li>
                    <li>@item.Side.Name</li>
                    <li>@item.Beverage.Name</li>
                    @if (@item.Dessert != null)
                    {
                        <li>@item.Dessert.Name</li>
                    }
                </ul>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
