@model Models.Beverage

@{
    ViewData["Title"] = "Delete";
}
<h1>Supprimer</h1>
<h4>Boisson</h4>
<h3>Etes-vous sûr de vouloir supprimer ceci ?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">Millimeter</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Millimeter)
        </dd>
        <dt class="col-sm-2">Gazeuse</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCarbonated)
        </dd>
        <dt class="col-sm-2">Nom</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">Prix</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)€
        </dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
